@media (max-width: 768px) {
    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    .MainText {
        padding: 100px 0;
        text-align: center;
    }

    .sticky-nav .nav-links a {
        padding: 0 10px;
        display: block;
        margin: 5px 0;
        font-size: 0.9rem;
    }

    .sticky-nav .nav-btn {
        font-size: 0.8rem;
        padding: 6px 12px;
    }
}