header {
    width: 100%;
    background: linear-gradient(rgba(34, 34, 34, 0.6), rgba(20, 20, 20, 0.2)), url(../Стили/Картинки/02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    min-height: 40vh;
}

h2 {
    font-size: 7rem;
    line-height: 0.7;
    -webkit-text-stroke: 1px black;
    text-stroke: 1px black;
    margin-bottom: 1rem;
}

h3 {
    font-size: 3.7rem;
    -webkit-text-stroke: 0.5px black;
    text-stroke: 0.5px black;
    margin-bottom: 1rem;
}

.MainText {
    font-family: 'ptserif';
    text-align: left;
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60vh;
}